<menubar></menubar>
<div class="message-container" ng-if="$ctrl.createNew">
  Please select top part of domino, then select bottom part of domino
</div>
<div class="control-wrapper">
  <i class="fa fa-rotate-left" ng-class="{disabled: $ctrl.createNew}"
     ng-click="$ctrl.rotateLeft($event)" title="Rotate 90 angle counter-clockwise">
  </i>
  <div class="new-button" ng-click="$ctrl.createNewDomino()">
    New
  </div>
  <i class="fa fa-rotate-right" ng-class="{disabled: $ctrl.createNew}"
     ng-click="$ctrl.rotateRight($event)" title="Rotate 90 angle clockwise">
  </i>
</div>
<div class="main-wrapper-domino">
  <div class="domino-section">
    <div class="domino-wrapper">
      <div ng-repeat="part in $ctrl.viewDomino" class="{{part.class}} dot-wrapper-{{part.value}}">
        <div class="dot" ng-repeat="dot in $ctrl.availableData"></div>
      </div>
    </div>
    <div class="domino-control">
      <div class="range-input">
        <label class="label-input" for="sizeRange">
          Size {{$ctrl.currentSizeDomino}}px
        </label>
        <input id="sizeRange" max="40" min="5" title="Size of Domino" type="range"
               ng-change="$ctrl.changeSizeDomino($ctrl.currentSizeDomino)" step="1"
               ng-class="{disabled: $ctrl.createNew}" ng-model="$ctrl.currentSizeDomino">
      </div>
      <div class="range-input">
        <label class="label-input" for="speedRange">
          Speed {{$ctrl.currentSpeedRotation}}s
        </label>
        <input id="speedRange" max="20" min="1" title="Rotation Speed" type="range"
               ng-change="$ctrl.changeSpeedRotation($ctrl.currentSpeedRotation)" step="1"
               ng-class="{disabled: $ctrl.createNew}" ng-model="$ctrl.currentSpeedRotation">
      </div>
    </div>
  </div>
  <div class="available-section" title="Available Faces">
    <div ng-repeat="face in $ctrl.availableData" class="available-button dot-wrapper-{{face.id}}"
         ng-class="{disabled: !$ctrl.createNew}" ng-click="$ctrl.chooseFaceDomino(face.id)">
      <div class="dot" ng-repeat="dot in $ctrl.availableData"></div>
    </div>
  </div>
</div>
