<nav class="menu">
  <div class="logo">
    <h1>
      <a ui-sref="domino">Domino</a>
    </h1>
  </div>
  <div class="logo">
    <h1>
      <a ui-sref="schoolGpa">School GPA Calculator</a>
    </h1>
  </div>
</nav>
